body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #0f172a;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Navbar */
.navbar {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* Card */
.card {
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

/* Button */
button {
    padding: 10px;
    background: linear-gradient(45deg, #3b82f6, #9333ea);
    border: none;
    color: white;
    border-radius: 8px;
}

/* Video */
video {
    width: 300px;
    margin-top: 20px;
}