<!DOCTYPE html>
<html>
<head>
    <title>TinySignals</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="navbar">
    <h2>🧠 TinySignals AI</h2>
    <a href="/logout">Logout</a>
</div>

<div class="container">

    <h1>Behavior Analysis System</h1>

    <div class="card">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="video" required><br><br>
            <button>Analyze</button>
        </form>

        <h2>{{ result }}</h2>
    </div>

    {% if uploaded_video %}
<h3>Your Video</h3>
<video controls width="300">
    <source src="/uploads/{{ uploaded_video }}">
</video>
{% endif %}

{% if comparison_video %}
<h3>AI Comparison</h3>
<video controls width="300">
    <source src="/dataset/{{ comparison_video }}">
</video>
{% endif %}

</div>

</body>
</html>